<div class="bg-light">
<div class="container-fluid">
  <div class="row justify-content-center">
    <h1 class="display-3">ユーザー新規登録</h1>
  </div>
  <div class="col-4">
    <h2><%= link_to "<-ホーム画面へ戻る", root_path%></h2>
  </div>
</div>

<div class="container-fluid">
  <%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "ニックネーム" %><em><span class="red-text">※必須</span>(６文字まで)</em><br />
      <%= f.text_field :nickname, autofocus: true, class:"form-control" %>
    </div>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "Eメール" %><em><span class="red-text">※必須</span><br />
      <%= f.text_field :email, class:"form-control" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em><span class="red-text">※必須</span>(<%= @minimum_password_length %> 文字)</em>
      <% end %><br />
      <%= f.text_field :password, class:"form-control"%>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "パスワード再確認" %><em><span class="red-text">※必須</span><br />
      <%= f.text_field :password_confirmation, class:"form-control" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "年齢" %><em><span class="red-text">※半角数字のみ</span><br />
      <%= f.text_field :age, class:"form-control" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "所持しているバイク" %><em><span class="red-text">※必須</span><br />
      <%= f.text_field :mybike, class:"form-control" %>
    </div>
  </div>

  
  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "性別" %><em><span class="red-text">※必須</span><br />
      <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-4">
      <%= f.label "お住まいの都道府県" %><em><span class="red-text">※必須</span><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control"}) %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.submit "登録する", class:"btn byn-primary" %>
  </div>
<% end %>
</div>
</div>