<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/001bb60e3d.js" crossorigin="anonymous"></script>
</head>

<%= render "header/admin_header"%>

<div class="row justify-content-end">
  <div class="col-2">
    <%= link_to "お知らせを作成する", new_infometion_path, class: "text-dark" %>
  </div>
</div>

<div class="container-fluid">
<% @infometions.each do |i| %>
  <% if @infometions.length != 0 %>
  <div class="row justify-content-center">
    <div class="col-7 py-1">
      <p><h2 class="border"><%= i.year.name%>/<%= i.moon.name%>/<%= i.day.name%>
         <span class="offset-3"><%= i.title%></p></h2>
    </div>
  </div>
  <% end %>
<% end %>
</div>

