<%= render "header/header"%>
<div class="bg-light">
  <div class="row justify-content-center">
    <h1><b>登録者一覧</b></h1>
  </div>
  <div class="row justify-content-center">
    <h2>現在<span class="text-success"><%= @users.length%></span>ユーザー</h2>
  </div>
  <div class="container-fluid">
    <div class="row">
      <% @users.each do |user| %>
        <% if @users.length != 0 %>
        <div class="col-4 mt-4">
          <div class="card" style="max-width: 25rem;">
          <div class="border-right border-bottom">
            <div class="card-body">
              <div class="row justify-content-center">
                <h3 class="card-title"><%= link_to user.nickname, all_user_path(user.id), class:"text-dark"%></h3>
              </div>
              <div class="row justify-content-center">
                <p class="card-text"><%= user.gender.name%></p>
              </div>
              <div class="row justify-content-center">
                <p class="card-text"><%= user.mybike%></p>
              </div>
            </div>
          </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="fixed-bottom text-center" id="nav">
  <%= render "header/footer"%>
</div>



