<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/001bb60e3d.js" crossorigin="anonymous"></script>
</head>

<%= render "header/header"%>
<div class="bg-light">

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">トップページ</a></li>
      <li class="breadcrumb-item">ユーザープロフィール</li>
    </ol>
  <nav>

<div class="container-fluid mb-5">
  <div class="row justify-content-center">
    <div class="col-4 mt-4">
      <div class="card">
        <div class="card-header">
          <b>メニュー</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-home"></i><%= link_to "ホーム",root_path,class:"text-dark"%></li>
          <li class="list-group-item"><i class="fas fa-images"></i><%= link_to "企画したプランを見る",my_plan_index_path, class:"text-dark"%></li>
          <li class="list-group-item"><i class="far fa-images"></i><%= link_to "参加したプランを見る", child_plan_index_path, class:"text-dark"%></li>
          <li class="list-group-item"><i class="fas fa-map-marked"></i><%= link_to "ツーリング予定を立てる", plan_index_path, class:"text-dark"%></li>
        </ul>
      </div>
      <div class="card mt-5">
        <div class="card-header">
          <b>アカウント管理</b>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト",destroy_user_session_path,class:"text-dark"%></li>
        </ul>
      </div>
    </div>
    <div class="col-5 mt-4 offset-1">
      <div class="card" style="max-width: 25rem;">
      <div class="border-right border-bottom">
        <div class="card-body">
          <div class="row justify-content-center">
            <h4 class="card-title">USER PROFILE</h4>
          </div>
          <div class="row justify-content-center">
            <p class="card-text">ユーザープロフィール</p>
          </div>
        </div>
        <div class="card-body">
          ユーザーID:<%= @user.id%>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ニックネーム:<%= @user.nickname %></li>
          <li class="list-group-item">メールアドレス:<%= @user.email%></li>
          <li class="list-group-item">年齢:<%= @user.age%><span>歳</li>
          <li class="list-group-item">あなたのバイク:<%= @user.mybike%></li>
          <li class="list-group-item">あなたの性別:<%= @user.gender.name%></li>
          <li class="list-group-item">あなたの出身地:<%= @user.prefecture.name%></li>
        </ul>
        <div class="card-body">
          <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
              <button type="button" class="btn btn-outline-primary">
                <%= link_to 'プロフィールを編集する', edit_user_registration_path(@user.id), method: :get %>
              </button>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
  <%= render "header/footer"%>
</div>