<div class="bg-light">
<%= render "header/header"%>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1 class="display-1">USER PROFILE</h1>
    </div>
  </div>
  <div class="col-4">
    <h2><%= link_to "<-ホーム画面へ戻る", root_path%></h2>
  </div>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>ニックネーム</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.nickname %></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>メールアドレス</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.email%></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>年齢</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.age%><span>歳</span></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>あなたのバイク</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.mybike%></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>あなたの性別</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.gender.name%></h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-3 offset-md-1">
      <h1>あなたの出身地</h1>
    </div>
    <div class="col-3 offset-md-1">
      <h1><%= @user.prefecture.name%></h1>
    </div>
  </div>
</div>
</div>