<head>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> 
  <script src="https://kit.fontawesome.com/001bb60e3d.js" crossorigin="anonymous"></script>
</head>

<div class="bg-light">
<%= render "header/header"%>

<div class="container-fluid">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">トップページ</a></li>
      <li class="breadcrumb-item">ツーリングプラン編集</li>
    </ol>
  <nav>
</div>

<div class="container-fluid">
  <%= form_with model: @plan, class: 'registration-main', local: true do |f| %>
  <% if @plan.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "年" %><em>(開催日時例・2020-01-01)</em><br />
        <%= f.collection_select(:year_id, Year.all, :id, :name, {}, {class:"form-control"}) %> 
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "月" %><em>(開催日時例・2020-01-01)</em><br />
        <%= f.collection_select(:moon_id, Moon.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "日" %><em>(開催日時例・2020-01-01)</em><br />
        <%= f.collection_select(:day_id, Day.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "排気量指定" %><em>※高速道路に乗る際は125cc未満参加不可にしてください</em><br />
        <%= f.collection_select(:power_id, Power.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "高速道路" %>
        <%= f.collection_select(:highway_id, Highway.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "メーカー指定" %>
        <%= f.collection_select(:maker_id, Maker.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "参加できる最低年齢" %>
        <%= f.collection_select(:age_min_id, AgeMin.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "参加できる最高年齢" %>
        <%= f.collection_select(:age_max_id, AgeMax.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "開催する都道府県" %>
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "募集人数" %>
        <%= f.collection_select(:participant_id, Participant.all, :id, :name, {}, {class:"form-control"}) %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <%= f.label "その他条件等、集合場所、集合時間など" %>
        <%= f.text_area :conditions, class:"form-control",placeholder:"例：大宮駅西口AM10:00に集合。緑のバイクが目印になります。"%>
      </div>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "計画を変更する", class:"btn btn-primary my-3" %>
    </div>
  <% end %>
</div>
</div>
<%= render "header/footer"%>